
/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
body{
  font-family:"Montserrat";
  font-weight: 400;
}
#title{
  color: #fff;
}
.heading{
  font-family:'Montserrat',sans-serif;
  font-weight: 900;
  size:3rem;
  line-height: 1.5;
}
.container-fluid
{
  padding: 3% 15%;
}


/********Id selecters*********/

#title{
  background-color: #ff4c68;
}
